@import "tailwindcss";


@theme {
  keyframes {
    flutter: {
      "0%, 100%": { transform: "translateY(0) rotate(0deg)" },
      "25%": { transform: "translateY(-5px) rotate(5deg)" },
      "75%": { transform: "translateY(5px) rotate(-5deg)" }
    },
    blink: {
      "0%": { opacity: "1" },
      "50%": { opacity: "0" },
      "100%": { opacity: "1" }
    }
  },
  animation: {
    flutter: "flutter 2s ease-in-out infinite",
    blink: "blink 1.5s linear infinite"
  }
}




